<h1>Users#edit</h1>
<!--User情報編集画面-->
<div class="conteiner">
  <h2>User info</h2>
  
  <div class="edit-content">
    <%= form_with model: @user do |f| %>
    <!--ユーザーネーム-->
    <label for="inputName">Name</label>
    <%= f.text_field :name, autofocus: true %>
    
    <!--ユーザー画像-->
    <label for="inputImage">Image</label>
    <%= f.file_field :profile_image, accept: 'image/*' %>
    
    <!--ユーザー挨拶文-->
    <label for="inputIntroduction">Introduction</label>
    <%= f.text_area :introduction %>
    
    <!--編集完了ボタン-->
    <%= f.submit 'Update User' %>
  <% end %>
  </div>
</div>