<!--<h1>Users#edit</h1>-->

<!--User情報編集画面-->
<div class="conteiner">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <div class="user-info">
        <%= form_with model: @user do |f| %>
          <div class="form-group">
            <label for="inputName">Name</label>
            <p><%= f.text_field :name, autofocus: true %></p>
          </div>
          <div class="form-group">
            <label for="inputImage">Image</label>
            <p><%= f.file_field :profile_image, accept: 'image/*' %></p>
          </div>
          <div class="form-group">
            <label for="inputIntroduction">Introduction</label>
            <p><%= f.text_area :introduction %></p>
          </div>
          <div class="form-group">
            <p><%= f.submit 'Update User', class: "btn btn-secondary" %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>